name: Deploy test 2

on:
  repository_dispatch:
    types: [deploy-command]

jobs:
  deploy:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - env:
          A: ${GITHUB_SHA}
          B: $GITHUB_SHA
          C: "${GITHUB_SHA}"
        run: |
          echo "Commit2 - ${{ env.A }}, ${{ env.B }}, ${{ env.C }}, ${{ github.sha }}"
          
      - name: Validate command parameters
        id: validate-cmd-deploy-params
        uses: mstefaniak/gh_action@main
        with:
          comment-id: ${{ github.event.client_payload.slash_command.args.named.comment-id }}
          environment: ${{ github.event.client_payload.slash_command.args.unnamed.arg1 }}
          namespaces: ${{ github.event.client_payload.slash_command.args.unnamed.arg2 }}

      - name: Valid environment
        if: steps.validate-cmd-deploy-params.outputs.valid == 'true'
        run: echo "All valid!"
      - name: Invalid environment
        if: steps.validate-cmd-deploy-params.outputs.valid == 'false'
        run: 
          echo "Invalid!"
          exit 1
      - name: Final message
        run: echo "This is the end!"
      
        