name: Deploy test

on:
  repository_dispatch:
    types: [deploy-command]

jobs:
  deploy:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - env:
          A: ${GITHUB_SHA}
          B: $GITHUB_SHA
          C: "${GITHUB_SHA}"
        run: |
          echo "Commit2 - ${{ env.A }}, ${{ env.B }}, ${{ env.C }}, ${{ github.sha }}"
          
      - name: Validate command parameters
        id: validate-cmd-deploy-params
        uses: plentific/dashboard-github-workflows/.github/actions/validate-cmd-deploy-params@ms/fep-1631-add-cmd-args-validation-action
        with:
          comment-id: ${{ github.event.client_payload.slash_command.args.named.comment-id }}
          environment: ${{ github.event.client_payload.slash_command.args.unnamed.arg1 }}
          namespaces: ${{ github.event.client_payload.slash_command.args.unnamed.arg2 }}

      - name: Invalid environment
        if: ${{ github.event.client_payload.slash_command.args.unnamed.arg1 != 'valid-env' }}
        uses: peter-evans/create-or-update-comment@v3
        with:
          comment-id: ${{ github.event.client_payload.slash_command.args.named.comment-id }}
          reactions: '-1'
          body: |
            The given environment "${{ github.event.client_payload.slash_command.args.unnamed.arg1 }}" is not valid :x:
      - name: Create URL to the run
        id: create-url
        run: echo "runUrl=https://github.com/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID" >> $GITHUB_OUTPUT
      - name: Create success comment with the run URL
        uses: peter-evans/create-or-update-comment@v3
        if: ${{ github.event.client_payload.slash_command.args.unnamed.arg1 == 'valid-env' }}
        with:
          comment-id: ${{ github.event.client_payload.slash_command.args.named.comment-id }}
          body: |
            The branch is getting deployed to `${{ github.event.client_payload.slash_command.args.unnamed.all }}` now
            Workflow: ${{ steps.create-url.outputs.runUrl }}
        