name: Deploy

on:
  repository_dispatch:
    types: [deploy-command]

jobs:
  deploy:
    runs-on: ubuntu-latest
    outputs:
      error-message: ${{ steps.validate-env.outputs.error_message }}
    steps:
      - uses: actions/checkout@v3

      - name: Output command and arguments
        run: |
          echo ${{ github.event.client_payload.slash_command.command }}
          echo ${{ github.event.client_payload.slash_command.args.all }}

      - id: validate-env
        if: ${{ github.event.client_payload.slash_command.unnamed.arg1 != 'valid-env' }}
        run: |
          echo "error_message='Wrong environment chosen. The valid one is \"valid-env\"'" >> $GITHUB_OUTPUT
  test:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Init..."
      - uses: actions/checkout@v3
      - name: XD
        uses: ./.github/actions/test
