name: Deploy

on:
  repository_dispatch:
    types: [deploy-command]

jobs:
  deploy:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Invalid environment
        if: ${{ github.event.client_payload.slash_command.args.unnamed.arg1 != 'valid-env' }}
        uses: peter-evans/create-or-update-comment@v3
        with:
          comment-id: ${{ github.event.client_payload.slash_command.args.named.comment-id }}
          reactions: '-1'
          body: |
            The given environment "${{ github.event.client_payload.slash_command.args.unnamed.arg1 }}" is not valid :x:
      - name: Success
        if: ${{ github.event.client_payload.slash_command.args.unnamed.arg1 == 'valid-env' }}
        uses: peter-evans/create-or-update-comment@v3
        with:
          comment-id: ${{ github.event.client_payload.slash_command.args.named.comment-id }}
          reactions: hooray
          body: |
            Great success :green_heart:
        