name: Deploy test

on:
  repository_dispatch:
    types: [deploy-command]

jobs:
  deploy:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - env:
          A: ${GITHUB_SHA}
          B: $GITHUB_SHA
          C: "${GITHUB_SHA}"
        run: |
          echo "Commit2 - ${{ env.A }}, ${{ env.B }}, ${{ env.C }}, ${{ github.sha }}"
          echo "Workflow: https://github.com/${{ github.event.repository.full_name }}/actions/runs/${{ github.run_id }}"
          echo "Author: @${{ github.event.client_payload.slash_command.args.named.author }}
          "
          
      - name: Validate command parameters
        id: validate-cmd-deploy-params
        uses: mstefaniak/gh_action@main
        with:
          comment-id: ${{ github.event.client_payload.slash_command.args.named.comment-id }}
          environment: ${{ github.event.client_payload.slash_command.args.unnamed.arg1 }}
          namespaces: ${{ github.event.client_payload.slash_command.args.unnamed.arg2 }}

      - name: Valid environment
        if: steps.validate-cmd-deploy-params.outputs.valid == 'true'
        run: |
          echo "All valid!"
          echo "Env > ${{ steps.validate-cmd-deploy-params.outputs.valid_env }}"
          echo "Namespaces > ${{ steps.validate-cmd-deploy-params.outputs.valid_namespaces }}"
        
      - name: Invalid environment
        if: steps.validate-cmd-deploy-params.outputs.valid == 'false'
        run: |
          echo "Invalid!"
          echo "Error > ${{ steps.validate-cmd-deploy-params.outputs.error_messages }}"
          
      - name: Final message
        run: echo "This is the end!"

  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    # Mock to test workflow
    - name: Test app
      id: test-app # will be referenced later
      run: |
        echo "test=123" >> $GITHUB_OUTPUT
        echo "Testing app (randomly fails)"
        if [[ $(($RANDOM % 2)) == 0 ]]; then exit 0; else exit 1; fi

    # runs always
    - name: test-clean
      if: ${{ always() && steps.test-app.outputs.test == '123' }}
      run: echo "Cleanup after tests 123"

    # runs always
    - name: test-2
      if: always() && steps.test-app.outputs.test == '124'
      run: echo "Cleanup after tests 124"

    # runs always
    - name: test-will
      run: echo "Will this run?"

    # runs if previous jobs failed and test-app was not successful (failure/cancelled)
    - name: action-slack
      if: failure() && steps.test-app.outcome != 'success'
      run: |
        echo "Run action-slack"
        echo "Result of test-app was '${{ steps.test-app.outcome }}'"
        