name: Deploy test 3

on:
  repository_dispatch:
    types: [deploy-command]

jobs:
  deploy:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - env:
          A: ${GITHUB_SHA}
          B: $GITHUB_SHA
          C: "${GITHUB_SHA}"
        run: |
          echo "Commit2 - ${{ env.A }}, ${{ env.B }}, ${{ env.C }}, ${{ github.sha }}"
          echo "Workflow: https://github.com/${{ github.event.repository.full_name }}/actions/runs/${{ github.run_id }}"
          echo "Author: @${{ github.event.client_payload.slash_command.args.named.author }}"
          echo "PR: https://github.com/${{ github.event.repository.full_name }}/pull/${{ github.event.client_payload.pull_request.number }}"
          
      - name: Validate command parameters
        id: validate-cmd-deploy-params
        uses: mstefaniak/gh_action@main
        with:
          comment-id: ${{ github.event.client_payload.slash_command.args.named.comment-id }}
          environment: ${{ github.event.client_payload.slash_command.args.unnamed.arg1 }}
          namespaces: ${{ github.event.client_payload.slash_command.args.unnamed.arg2 }}

      - name: Valid environment
        if: steps.validate-cmd-deploy-params.outputs.valid == 'true'
        run: |
          echo "All valid!"
          echo "Env > ${{ steps.validate-cmd-deploy-params.outputs.valid_env }}"
          echo "Namespaces > ${{ steps.validate-cmd-deploy-params.outputs.valid_namespaces }}"
        
      - name: Invalid environment
        if: steps.validate-cmd-deploy-params.outputs.valid == 'false'
        run: |
          echo "Invalid!"
          echo "Error > ${{ steps.validate-cmd-deploy-params.outputs.error_messages }}"
          
      - name: Update comment with success message
        if: steps.validate-cmd-deploy-params.outputs.valid == 'true'
        uses: peter-evans/create-or-update-comment@v3
        with:
          comment-id: ${{ github.event.client_payload.slash_command.args.named.comment-id }}
          body: |
            > :tada: The deployment has succeeded
          reactions: '+1'

      - name: Update comment with success message
        if: steps.validate-cmd-deploy-params.outputs.valid == 'false'
        uses: peter-evans/create-or-update-comment@v3
        with:
          comment-id: ${{ github.event.client_payload.slash_command.args.named.comment-id }}
          body: |
            > :x: The deployment has failed
          reactions: '-1'

  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    # Mock to test workflow
    - name: Test app
      id: test-app # will be referenced later
      run: |
        echo "test=123" >> $GITHUB_OUTPUT
        echo "Testing app (randomly fails)"
        if [[ $(($RANDOM % 2)) == 0 ]]; then exit 0; else exit 1; fi

    # runs always
    - name: test-clean
      if: ${{ always() && steps.test-app.outputs.test == '123' }}
      run: echo "Cleanup after tests 123"

    # runs always
    - name: test-2
      if: always() && steps.test-app.outputs.test == '124'
      run: echo "Cleanup after tests 124"

    # runs always
    - name: test-will
      run: echo "Will this run?"

    # runs if previous jobs failed and test-app was not successful (failure/cancelled)
    - name: action-slack
      if: failure() && steps.test-app.outcome != 'success'
      run: |
        echo "Run action-slack"
        echo "Result of test-app was '${{ steps.test-app.outcome }}'"

  test:
    runs-on: ubuntu-latest
    outputs:
      result: ${{ steps.test.outputs.result }}
    steps:
      - run: echo "Init..."
      - uses: actions/checkout@v3
      - name: XD
        id: test
        uses: ./.github/actions/test
      
  job2:
    runs-on: ubuntu-latest
    needs: test
    steps:
        - run: echo "Verify result - ${{ needs.test.outputs.result }}"
        