name: Deploy

on:
  repository_dispatch:
    types: [deploy-command]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Output command and arguments
        run: |
          echo ${{ github.event.client_payload.slash_command.command }}
          echo ${{ github.event.client_payload.slash_command.args.all }}

      - name: Validate environment
        if: ${{ github.event.client_payload.slash_command.unnamed.arg1 != 'valid-env' }}
        uses: peter-evans/create-or-update-comment@v2
        with:
          comment-id: ${{ github.event.client_payload.slash_command.args.named.comment-id }}
          body: |
            > The given environment "${{ github.event.client_payload.slash_command.unnamed.arg1 }}" is not valid
  