name: Deploy

on:
  # TODO: remove post-MVP
  # pull_request:
  #   types:
  #     - opened
  #     - reopened
  #     - labeled
  #     - synchronize

  push:
    branches: [main]

jobs:
  merge_test:
    runs-on: ubuntu-latest
    steps:
      - name: Merge test
        run:
          echo "Deploying dashboard, branch -> ${{ github.ref }}, ${{ github.event.pull_request.merged_html_url }}"
