name: Slash Command Dispatch

on:
  issue_comment:
    types: [created]

jobs:

  slashCommandDispatch:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Test external action
        uses: mstefaniak/gh_action@main
      - name: Debugz
        run: ls -la .github
      - name: Slash Command Dispatch
        id: scd
        uses: peter-evans/slash-command-dispatch@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commands: |
            deploy
          static-args: |
            comment-id=${{ github.event.comment.id }}
            comment-author=${{ github.event.comment.user.login }}
            issue-id=${{ github.event.issue.number }}
            commit-sha=${{ github.sha }}
      # - name: Debug script
      #   uses: ./.github/actions/test
      - name: Edit comment with error message
        if: steps.scd.outputs.error-message
        uses: peter-evans/create-or-update-comment@v2
        with:
          comment-id: ${{ github.event.comment.id }}
          body: |
            > ${{ steps.scd.outputs.error-message }}
