name: Slash Command Dispatch

on:
  issue_comment:
    types: [created]

jobs:

  slashCommandDispatch:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - name: Slash Command Dispatch
        id: scd
        uses: peter-evans/slash-command-dispatch@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commands: |
            deploy
