name: Slash Command Dispatch 2

on:
  issue_comment:
    types: [created]

jobs:

  slashCommandDispatch:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Debug environment
        shell: bash
        run: |
          echo "vars ${{ vars.MYVAR }}"
          echo "secrets ${{ secrets.TEST }}"  
      # - name: Test external action
      #   uses: mstefaniak/gh_action@main
      - name: Slash Command Dispatch
        id: scd
        uses: mstefaniak/slash-command-dispatch@main
        with:
          token: ${{ secrets.CMD_DISPATCH_PAT }}
          commands: deploy
          static-args: |
            actor=${{ github.event.issue.user.login }}
            comment-id=${{ github.event.comment.id }}
