name: Slash Command Dispatch

on:
  issue_comment:
    types: [created]

jobs:

  slashCommandDispatch:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Debug environment
        shell: bash
        run: |
          echo "vars ${{ vars.MYVAR }}"
          echo "secrets ${{ secrets.TEST }}"  
      - name: Test external action
        uses: mstefaniak/gh_action@main
        with:
          comment-id=${{ github.event.comment.id }}
          build_status=${{ job.status }}
          init_status=${{ job.status }}
