name: Test

on:
  pull_request:
    types:
      - opened
      - reopened
      - labeled
      - synchronize

jobs:
  test:
    id: test
    runs-on: ubuntu-latest
    steps:
      - run: echo "Init..."
      - uses: actions/checkout@v3
      - name: XD
        uses: ./.github/actions/test
        with:
          status: Success
    
      - id: test1
        run: echo "pomo1='pomidor'" >> $GITHUB_OUTPUT
      - id: test2
        run: echo "pomo2=${{ steps.test1.outputs.pomo1 }}" >> $GITHUB_OUTPUT
      - run: echo "shouldRun=true" >> $GITHUB_OUTPUT
  job2:
    runs-on: ubuntu-latest
    needs: test
    if: ${{ needs.test.outputs.shouldRun }} 
    steps:
        - run: echo "VErify - ${{ needs.test.outputs.pomo2 }}"