name: Test

on:
  pull_request:
    types:
      - opened
      - reopened
      - labeled
      - synchronize

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Hello world!"
      - name: XD
        uses: ./.github/actions/test/action.yaml
        with:
          status: Success